body {
  overflow-x: hidden;
  font-family: "Open Sans";
  font-weight: 300;
}
.text-muted {
  color: #777777;
}
.text-primary {
  color: #F5634A;
}
p {
  font-size: 12px;
  line-height: 1.5em;
}
p.large {
  font-size: 16px;
  line-height: 2.25em;
}
@media (min-width: 768px) {
  p {
    font-size: 14px;
    line-height: 1.5em;
  }
  p.large {
    font-size: 18px;
    line-height: 2.5em;
  }
}
a,
a:hover,
a:focus,
a:active,
a.active {
  outline: none;
}
a {
  color: #F5634A; /* orange primary color */
}
a:hover,
a:focus,
a:active,
a.active {
  color: #DC4A31; /* slightly darker orange hover color */
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-weight: 400;
}
.img-centered {
  margin: 0 auto;
}
.bg-light-gray {
  background-color: #f7f7f7;
}
.bg-darkest-gray {
  background-color: #222222;
}
.btn {
  color: #fff;
  border-radius: 2px;
  border: 2px solid #fff;
  background-color: transparent;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.btn-primary {
  color: #F5634A;
  border-color: #F5634A;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #DC4A31;
  border-color: #DC4A31;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #F5634A;
  border-color: #F5634A;
}
.btn-primary .badge {
  color: #F5634A;
  background-color: #ffffff;
}
.btn-xl {
  color: #ffffff;
  background-color: #F5634A;
  border-color: #F5634A;
  /*font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  text-transform: uppercase;
  /*font-weight: 700;*/
  border-radius: 3px;
  font-size: 18px;
  padding: 20px 40px;
}
.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
  color: #ffffff;
  background-color: #DC4A31;
  border-color: #DC4A31;
}
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
  background-image: none;
}
.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
  background-color: #F5634A;
  border-color: #F5634A;
}
.btn-xl .badge {
  color: #F5634A;
  background-color: #ffffff;
}
.navbar-default {
  background-color: #222222;
  border-color: transparent;
}
.navbar-default .navbar-brand {
  color: white;
  /*font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, cursive;*/
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
  color: #DC4A31;
}
.navbar-default .navbar-collapse {
  border-color: rgba(255, 255, 255, 0.02);
}
.navbar-default .navbar-toggle {
  background-color: #F5634A;
  border-color: #F5634A;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #F5634A;
}
.navbar-default .nav li a {
  /*font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  text-transform: uppercase;
  /*font-weight: 400;*/
  letter-spacing: 1px;
  color: white;
}
.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
  color: #F5634A;
  outline: none;
}
.navbar-default .navbar-nav > .active > a {
  border-radius: 0;
  color: white;
  background-color: #F5634A;
}
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: white;
  background-color: #DC4A31;
}
@media (min-width: 768px) {
  .navbar-default {
    background-color: transparent;
    padding: 25px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
    border: none;
  }
  .navbar-default .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar-default .navbar-nav > .active > a {
    border-radius: 3px;
  }
  .navbar-default.navbar-shrink {
    background-color: #222222;
    padding: 10px 0;
  }
  .navbar-default.navbar-shrink .navbar-brand {
    font-size: 1.5em;
  }
}
header {
  background-color: #F5634A;
  background: -webkit-linear-gradient(#ED2F3B, #F5634A, #FB9C60);
  background: -moz-linear-gradient(#ED2F3B, #F5634A, #FB9C60);
  background: linear-gradient(#ED2F3B, #F5634A, #FB9C60);
  text-align: center;
  color: white;
  min-height: 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;
  /*height: 100%;*/
  /*min-height: 500px;*/
}
header .intro-text {
  /*padding-top: 100px;*/
  padding-bottom: 40px;
}
header .intro-text .logo {
  height: 110px;
}
header .intro-text .intro-heading {
  font-weight: 300;
  font-size: 50px;
  line-height: 1em;
  margin-bottom: 40px;
}
header .intro-text .intro-lead-in {
  font-style: bold;
  font-size: 20px;
  line-height: 1em;
  margin-bottom: 18px;
}
@media (min-width: 768px) {
  header {
    /*height: 100vh;*/
    /*min-height: 600px;*/
  }
  header .intro-text {
    /*padding-top: 100px;*/
    /*padding-bottom: 200px;*/
  }
  header .intro-text .logo {
    height: 150px;
    margin-bottom: 20px;
  }
  header .intro-text .intro-heading {
    font-size: 75px;
    letter-spacing: -3px;
    margin-bottom: 40px;
  }
  header .intro-text .intro-lead-in {
    font-size: 24px;
    margin-bottom: 12px;
  }
}
section {
  padding: 50px 0;
}
section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}
section h3.section-subheading {
  font-size: 20px;
  font-style: italic;
  /*font-weight: 400;*/
  margin-bottom: 75px;
}
@media (min-width: 768px) {
  section {
    padding: 80px 0;
  }
  section h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
  }
  section h3.section-subheading {
    font-size: 20px;
    font-style: italic;
    margin-bottom: 75px;
  }
}
section#sponsorship .tile {
  padding: 30px 0;
}
section#sponsorship .sp-logo {
  height: 50px;
}
@media (min-width: 768px) {
  section#sponsorship .sp-logo {
    height: 35px;
  }
}
@media (min-width: 992px) {
  section#sponsorship .sp-logo {
    height: 45px;
  }
}
@media (min-width: 1200px) {
  section#sponsorship .sp-logo {
    height: 55px;
  }
}
section#faq .section-heading {
  margin-bottom: 40px;
}
section#faq .card {
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 0 2px 1px rgba(0,0,0,.1);
  padding: 15px;
  margin: 10px 0;
}
section#faq .card .question {
  border-bottom: 1px solid #ccc;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
  padding-bottom: 5px;
}
section#faq .card .answer {
}
footer {
  padding: 25px 0;
  text-align: center;
}
footer span.copyright {
  line-height: 40px;
  /*font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  text-transform: uppercase;
  text-transform: none;
}
footer ul.quicklinks {
  margin-bottom: 0;
  line-height: 40px;
  /*font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  text-transform: uppercase;
  text-transform: none;
}
ul.social-buttons {
  margin-bottom: 0;
}
ul.social-buttons li a {
  display: block;
  background-color: #222222;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 40px;
  color: white;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
  background-color: #F5634A;
}
.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
  outline: none;
}
::-moz-selection {
  background: #F5634A;
  color: #FFFFFF;
  text-shadow: none;
}
::selection {
  background: #F5634A;
  color: #FFFFFF;
  text-shadow: none;
}
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}
body {
  webkit-tap-highlight-color: #F5634A;
}
